/* changes in the app */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.container{
  font-family:'Poppins','Segoe UI';
}

.preview {
    color: rgb(0, 47, 255) ;
    font-style: italic;
    color: #272829;
}